langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
unstructured
pymupdf
python-docx
docx2txt
openpyxl
unstructured[xlsx]
jq
matplotlib
langchain-huggingface
sentence-transformers
langchain_experimental
rank_bm25
wikipedia